<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="New CMS">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <title>New CMS</title>
    <meta name="description" content="A new Spriteful app backend">


    <style id="custom-style">

      html {
        /**
         *
         * App themes go here
         *
         */          

        --app-dark-color:       #0039cb;
        --app-primary-color:    #2962ff;
        --app-light-color:      #768fff;
        --app-accent-color:     #ffd600;
        --app-background-color: #f5f5f5;
        --app-body-color:       #E1E2E1;
        --app-disabled-color:   #eaeaea;
        --app-error-color:      #dd2c00;
        --app-warning-color:    #FFEB3B;

        --constant-light-text:  #FFFFFF; /* does not change with dark mode */
        --constant-dark-text:   #212121; /* does not change with dark mode */
        --light-text-color:     #FFFFFF;
        --dark-text-color:      #212121;
        --secondary-text-color: #727272;
        --disabled-text-color:  #bdbdbd;        

        --spriteful-ease: cubic-bezier(0.49, 0.01, 0, 1);

        --single-line-truncate-mixin: {
          white-space:   nowrap;
          overflow:      hidden;
          text-overflow: ellipsis;
        };

        --two-line-truncate-mixin: {
          line-height:        1.5;
          overflow:           hidden;
          display:            -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        };

        --three-line-truncate-mixin: {
          line-height:        1.5;
          overflow:           hidden;
          display:            -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        };
        /* 
         *
         * spriteful-edit-input.js fade truncation iOS fix 
         * rgb equivalent of hex background color
         *
         */
        --text-truncate-fade: rgba(255, 255, 255, 0);

        --divider-color:      #e8e8e8;

        --title-mixin: {
          font-size: 1.5em;
        };

        --no-select-mixin: {
          -webkit-touch-callout: none;
          -webkit-user-select:   none;
          -moz-user-select:      none;
          -ms-user-select:       none;
          user-select:           none;
        };

        --card-shadow-mixin: {
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                      0 1px 5px 0 rgba(0, 0, 0, 0.12),
                      0 3px 1px -2px rgba(0, 0, 0, 0.2);
        };

        --card-mixin: {
          overflow:      hidden;
          border-radius: 3px;
          box-shadow:    0 2px 2px 0 rgba(0, 0, 0, 0.14),
                         0 1px 5px 0 rgba(0, 0, 0, 0.12),
                         0 3px 1px -2px rgba(0, 0, 0, 0.2);
        };

        --divider-mixin: {
          border-top: 2px solid var(--divider-color);
        };

        --bottom-divider-mixin: {
          border-bottom: 2px solid var(--divider-color);
        };

        /* 
          fake an icon button with this mixin
          <paper-button>
            <custom-icon-element></custom-icon-element>
          </paper-button>
        */
        --custom-icon-paper-button-mixin: {
          min-width:     40px;
          height:        40px;
          border-radius: 50%;
          margin:        0px;
          padding:       8px;
        };

        /*
          properly place an icon to the right of text
          in a paper-button
          <paper-button>
            <iron-icon></iron-icon>
          </paper-button>
        */
        --paper-button-with-icon-mixin: {
          display:     inline-block;
          line-height: 1.75;
        };

        --iron-icon-inside-paper-button-mixin: {
          margin-right: 4px;
          top:         -2px;
        };

      }

    </style>

    <!-- Add any global styles for body, document, etc. -->
    <style>

      html, body {
        /* important for controlling modal scrolling */
        min-width:  100vw;
        min-height: 100vh;
      }

      body {
        margin:      0;
        font-family: 'Roboto', 'Noto', sans-serif;
        line-height: 1.5;
        overflow-x:  hidden; /* ios horizontal scroll fix */
        overflow-y:  scroll;
        /* spriteful-settings.js theme switching */
        color:            var(--dark-text-color);
        background-color: var(--app-dark-color); /* will be status bar in ios standalone mode */
        /* ios pointer-events fix where the html element 
           consumes pointer events, setting pointer-events 
           to none does not work but this seems to */
        z-index: 10; 
      }      
      /* ios scroll fix */
      /* safari's rubber band effect background color*/
      body::before {
        content:  '';
        position: fixed;
        top:     -128px;
        right:    0px;
        bottom:  -128px;
        left:     0px;
        background-color: var(--app-body-color);
      }
      /* ios scroll fix */
      /* safari status bar background color durring scroll */
      body::after {
        content:  '';
        position: fixed;
        top:     -128px;
        right:    0px;
        left:     0px;
        height:   128px;
        background-color: var(--app-dark-color);
      }

    </style>

  </head>
  <body>
    <noscript>
      Please enable JavaScript in your browser's settings menu to view this website.
    </noscript>
    <spriteful-app id="app"></spriteful-app>
    <!-- do not remove, needed for webpack html-webpack-multi-build-plugin in build -->
    <script type="module">
      <% for (key in htmlWebpackPlugin.options.modernScripts) { %>
          var script<%= [key] %> = document.createElement('script');
          script<%= [key] %>.type = 'text/javascript';
          script<%= [key] %>.src = '<%= htmlWebpackPlugin.options.modernScripts[key] %>';
          document.body.appendChild(script<%= [key] %>);
      <% } %>
    </script>
    <!-- do not remove, needed for webpack html-webpack-multi-build-plugin in build -->
    <script nomodule>
      <% for (key in htmlWebpackPlugin.options.legacyScripts) { %>
          var script<%= [key] %> = document.createElement('script');
          script<%= [key] %>.type = 'text/javascript';
          script<%= [key] %>.src = '<%= htmlWebpackPlugin.options.legacyScripts[key] %>';
          document.body.appendChild(script<%= [key] %>);
      <% } %>
    </script>
    <!-- webpack html-webpack-plugin adds script tags dynamically here -->
  </body>
</html>
